{% extends "base.html" %}

{% block title %} Cereals 101 | Home {% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="text-center" id="cerealDivContainer">Cereal records in database: {{ cereal_record_count }}</div>

    <div class="row">
        <div class="col-sm-12 col-md-6" class="cerealOverviewContainer">
            <div id="DoughnutChartWrapper">
                <canvas id="doughnut-chart"></canvas>
            </div>
        </div>

        <div class="col-sm-12 col-md-6" class="menuOverviewContainer">
            <div id="barChartWrapper">
                <canvas id="bar-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="text-center" id="findOutMoreContainer">Find Out What's In Your Cereals</div>

            <div class="card shadow p-3 mb-5 bg-white rounded cardContainer">
                <div class="card-body">
                    <input type="text" id="autocomplete-input" class="typeahead tt-query"
                        placeholder="Enter cereal name..." autocomplete="off">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="text-center" id="resultsContainer">Results</div>

            <div class="card shadow p-3 mb-5 bg-white rounded cardContainer">
                <div class="card-header text-center">
                    Nutrition Information (Per Serving)
                </div>
                <div class="card-body" id="cardResultBody">
                    <table class="table">
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
    <script>

        // cereals item 
        var cereal_menu_item_record = JSON.parse('{{ cereal_menu_item | tojson }}');

        // manufacturers
        let manufacturer_list_array = JSON.parse('{{ manufacturer_category_description_array | tojson }}');

        // manufacturer counts for each cereals
        let cereal_item_manufacturer_count_array_format = JSON.parse('{{ cereal_item_manufacturer_count | tojson }}');

        // top 3 cereals with highest calories record 
        let top_3_cereals_item = (JSON.parse('{{ cereals_menu | tojson }}')).slice(0, 3);

    </script>

    <script src="../static/scripts/index.js"></script>
{% endblock %}